.cartTitle {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 100px 0px 0px 20px;
    padding-bottom: 20px;
    color:  rgb(86, 89, 89);
    letter-spacing: 2px;
    border-bottom: 3px solid rgb(2, 2, 2);
    width: 30%;
}

.cartSubTitles {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 100px;
}

.cartSubTitles h4 {
    font-size: 1rem;
    color:  rgb(62, 63, 63);
    letter-spacing: 2px;
} 

.cartSubTitleProd {
    width: 40%;
}

.cartPic {
    width: 15%;
    margin-right: 20px;
}

.cartSubTitlesOthers {
    width: 15%;
}

.cartTrashIcon {
    font-size: 1.5rem;
    color: #4e4d4d;
}

.cartTrashIcon:hover {
    color: rgb(240, 128, 128);
    cursor: pointer;
}

.clearCart {
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    font-size: 1rem;
    font-weight: 600;
    color: #4e4d4d;
    margin: 0 100px 10px 0;
}

.clearCart:hover {
    color: rgb(240, 128, 128);
    cursor: pointer;
}

.totalCart,
.totalLeft {
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    margin-right: 100px;
    text-decoration: none;
}

.cartMsg {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-image: url(/public/img/image4.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
}

.cartMsg h4 {
    font-size: 1rem;
    color:  rgb(62, 63, 63);
    letter-spacing: 2px;
    margin-top: 400px;
}

.cartMsgBuy {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 300px;
    font-size: 1.5rem;
    color:  rgb(62, 63, 63);
    letter-spacing: 2px;
}
