.contentDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    padding: 40px;
    border-radius: 5px;
    background: none;
} 

.contentDetail h2 {
    color: #515050;
    margin: 10px;
    font-size: 1.5rem;
    background: none;
}

.contentDetail p {
    color: #515050;
    font-size: 1.2rem;
    font-weight: 400;
    background: none;
    text-decoration: none;
}

.contentDetailLink {
    color: #2c2b2b;
    font-size: 1.2rem;
    font-style: italic;
    background: none;
    text-decoration: none;
    margin: 20px;
}

.noBorder {
    background-color: transparent;
    border: none !important;
}

.boxContenDetail {
    margin-top: 100px;
}