.containerCards {
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(50% 50% at 50% 50%, #ebcbcb 0%, rgba(9, 9, 9, 0) 100%);
    margin-bottom: 20px;
}

.card {
    width: 400px;
    border-radius: 2px;
    box-shadow: 3px 5px 5px rgba(97, 97, 97, 0.8);
    margin: 20px;
}

.card img {
    width: 398px;
    border-radius: 2px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

.content h2 {
    border-bottom: 1px solid rgb(142, 142, 142);
    color: #515050;
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.content p {
    color: #515050;
    font-size: 1rem;
    font-weight: 400;
}