.primaryButton {
    color: #4e4d4d;
    font-weight: 600;
    background-color: #EACDCD;
    border: none;
    border-radius: 2px;
    height: 40px;
    width: 200px;
}

.primaryButton:hover {
    background-color: #a5809fda; 
    color: white;
}

.primaryButton:disabled {
    background-color:  #a495a1da;
    color: #4e4d4d;
}

.formControl {
    padding: 0 10px;
}

.buttonControl {
    font-size: 1.2 rem !important;
}

.btn:focus {
    box-shadow: none !important;
} 